@import url(../App.css);
.progressCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 4rem auto;
}
.progress{
    border: 2px dotted var(--blue) ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 70%;
    position: relative;
   
}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    position: absolute;
    left: 0;
    bottom: 0;
    
    
}

.car{
    margin-top: .2rem;
    width: 70%;
    
    
}
.car img{
    width: 100%;
    
}
.statCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: smaller;
    margin-left: .2rem;
    width: 30%;
}
.statCont *{
    word-wrap: break-word;
}
.pos{
    color: var(--blue);
}
.wpm{
    color:  var(--orange);
}
.name{
    
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}


@media (max-width : 700px) {
    .progressCont{
        width: 90%;
    }
    .statCont{
        font-size: .7rem;
    }
    .name{
        font-size: .7rem;
    }
    .avatar{
        width: 30%;
    }
}
